<div class="import-container" data-isallow="<%= isAllow %>">
	<% if (!isAllow) { %>
	<div class="warning-import">
		<ion-icon name="warning-outline"></ion-icon>
		You have already imported data
		<ion-icon name="warning-outline"></ion-icon>
	</div>
	<% } %>
	<div class="wrapper">
		<form action="/import-data" method="post" enctype="multipart/form-data">
			<div class="content">
				<div class="text">Import Data</div>
				<label for="file">
					<div class="btn-input">
						<div class="icon-import">
							<i class="bx bxs-up-arrow-alt"></i>
						</div>
						<input
							type="file"
							id="file"
							name="docUpload"
							accept=".csv"
							required />
					</div>
				</label>
				<div class="text-file">No file chosen yet!</div>
			</div>
			<button class="btn-import">Import</button>
		</form>
	</div>
</div>
<!-- vendor icon -->
<script
	type="module"
	src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
	nomodule
	src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
