.navigation {
	flex: 30%;
	width: 300px;
	height: 700px;
	background: #dde1e7;
	transition: 0.5s;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: -10px -10px 15px #ffffff73,
		10px 10px 15px rgba(94, 104, 121, 0.288);
}

.navigation ul {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-radius: 20px;
	margin-bottom: 20px;
}
.navigation ul li.active {
	background: #dee4f1;
	box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff73;
}

.navigation ul li.active a {
	color: #219be1;
	font-weight: 600;
}

.navigation ul li:nth-child(1) {
	position: relative;
	pointer-events: none;
	margin-bottom: 40px;
	margin-top: 30px;
}

.navigation ul li:nth-child(1) a {
	text-align: center;
	justify-content: center;
	font-weight: 600;
	font-size: 25px;
	user-select: none;
}

.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #595959;
}

.navigation ul li a .icon-sidebar {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 65px;
	text-align: center;
}

.navigation ul li a .icon-sidebar i {
	font-size: 1.75em;
}

.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 55px;
	text-align: start;
	white-space: nowrap;
}
